*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    text-align: center;
    font-size: 15px;
}
p{
    
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(212, 45%, 89%);
}
.container .box{
    background-color: hsl(0, 0%, 100%);
    padding: 15px;
    border-radius: 15px;
    max-width: 250px;
}
.container .box img{
    width: 100%;
    height: auto;
    border-radius: 12px;
}
.container .box h2{
     font-size: 107%;
     margin-top: 1em; 
}
.container .box p{
    margin-top: 1em;
    margin-bottom: 1.9em;
    font-size: 85%;
}



/* ===================Mobile view================================= */
@media (max-width:300px){
    .container .box{
    width: 90%;
    }
}
@media (max-width:250px){
    .container .box{
    font-size: 80%;
    /* height: 65vh; */
    }
}
