@media (max-width:980px){
    .align{
        margin-top: 0;
    }
    section .left h1{
        font-size: 130%;
    }
    .first-section .left{
        margin-top: 1em
    }
    .second-section .left{
        margin-top: 1em;
    }
    .testimonial p{
        font-size: 90%;
    }
    .name{
        margin-left: 1em;
        font-size: 90%;
    }
    .name p{
        font-size: 90%;
    }
}
@media (max-width:930px){
  header nav ul{
    display: none;
   }
   .toggle{
    display: flex;
   }
}
@media (max-width:840px){
   main section .left input{
    display: block;
   }
   main section .left input[type=email]{
    width: 100%;
    padding: .5em;
}
main section .left input[type=button]{
    width: 100%;
    margin-top: .6em;
    padding: .6em;
}
main section .left{
    padding-right: 2em;
}
}
@media (max-width:750px){
    main header .logo img{
        width: 50%;
    }
   section{
    flex-direction: column-reverse;
   }
   .left{
    width: 100%;
   }
   .left p{
    font-size: 95%;
   }
   .first-section .left {
        text-align: center;
        font-size: 90%;
   }
   .second-section .left h1, p {
    text-align: center;
    font-size: 90%
}
.name p{
    text-align: left;
}
   .right{
    width: 100%;
   }
   main section .left{
    padding-right: 0em;
}
.third-section{
    flex-direction: column;
}
.third-section .left{
   padding-right: 0;
}
.third-section .left h1{
    text-align: center;
    margin-top: 1em;
}
.third-section .right{
    /* padding-left: 5em; */
}
.third input[type=email]{
    padding: .4em;
}
.third-section .right button{
   width: 80%;
}
.third p{
    margin-bottom: 1em;
    font-size: 80%;
    text-align: center;
}
.testimonial{
    margin: 2em;
}
footer{
    height: auto;
    padding: 80px 10% 20px 10%;
}

.box-container{
    flex-direction: column;
    
    /* overflow: hidden; */
}
.box{
    width: 100%;
    margin: 10px 0;
}
.pad{
    padding-left: 0em;
    /* justify-content: flex-start; */
    display: flex;
    flex-direction: column;
}
footer p{
    font-size: 80%;
}
 footer .icons{
    margin-left: 0;
    margin: auto;
}
}
@media (max-width:450px){}
@media (max-width:){
   
}
@media (max-width:){
   
}